--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
faiss-cpu
pypdf
sentence-transformers
huggingface-hub
fastapi
uvicorn
python-multipart
python-dotenv
